html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, red, white);
  box-sizing: border-box;
  overflow: auto; /* Remove default margin and padding and hide overflow */
}

.container {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to left, white, red);
  background-size: 200% 100%;
}

.container:hover {
  background: linear-gradient(to right, white, red);
}

/* Common styles for the navbar */
.navbar {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

li {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

a:hover {
  color: #fc2a05;
}









/* Responsive styles */
 
 .navbar a {
    font-size: 12px; 
  }

footer {
  background-color: #8b0000; 
  color: white;
  text-align: center;
  padding: 20px;
}

.contact-links {
  margin-top: 20px;
}

.contact-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
